*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Prompt', sans-serif;
}

.container-fluid{
    background: #000;
}


.nav-link{
    color: #fff;

}

.img-fluid{
        width: fit-content;
        height: 50px;  
}
.container-fluid-img{
    background-image: url(temporadaOtoInv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color:#fff;
    border-radius: 3px;

}
.navbar-nav {
    --bs-nav-link-hover-color: #f02;
   
}

.iconos {
   font-size: 2em;
}

.boton{
    font-size: 1em;
    padding: .6em 5em;
    border-radius:2em;
    background: #f02;
   
}

.subtitulo{
   font-size: 3em;
   
   
}

.titulo{
    font-size: 3.5em;
 
}

.text-h5{
    font-size: 2.5em;
}

.text-form {
    font-size: 1em;
}

.input-form{
    font-size: 1em;
    border-radius: 2em;
    border:.2em groove #000;
    background: #aaa;
   
}

.input-form:hover{

    border-color: #f02;
}

.buttom-form{
    font-size: 1em;
    padding: .6em 7em;
    border-radius:2em;
    border-color: #000;
    background: #f02;
    
}
.buttom-form:hover{
    background-color: #000;
}
.p-input{
    font-size: 1.5em;

}
.input-check{
    border-color: #000;
}
.input-check:hover{
    border-color: #f02;
}


.div-descuento{
    background-color: #cfbb94;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 25em;
    border-radius: 2em;
    
}

.form-descuento{
    margin-left: 4em;
}

.button-descuento{
    font-size: 1em;
    padding: .6em 2em;
    border-radius:2em;
    border-color: #000;
    background: #f02;
}

.input-descuento{
    font-size: 1.3em; 
    border-radius: 2em;
    border:.2em groove #000;
    background: #fff;

}   

.text-h5{
    font-size: 1.5em;
}


.iconos-redes{
   
    font-size: 1.5em;
    color: #fff;
    margin: 1em 2em;

}

a {
    color: #fff;
    text-decoration: none;
}
.iconos-redes:hover{
    font-size: 2em;
   
}

.div-mensaje{
    width: 100px;
    height: 100px;
    background-color: #f02;
    border-color: #000;
}

.mi-descuento{
    color:#666
}
.mi-descuento:hover{
    color: #f02;
}